.navBar {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 0.2rem 1rem; /* Smaller padding for better control */
  height: 70px;
}

.logo-img {
  height: 150px;
  width: auto;
  object-fit: contain;
}

.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .logo-img {
    height: 50px;
  }
}
.logoImg {
  height: 100px;               /* Adjust this to increase/decrease logo */
  display: flex;
  align-items: center;
  overflow: visible;           /* Prevent clipping */
}
