html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0; /* remove the padding */
}

html, body {
  overflow-x: hidden;
}

/* Hero section spacing instead of body padding */
.hero {
  margin-top: 70px; /* desktop */
}

@media screen and (max-width: 768px) {
  .hero {
    margin-top: 110px; /* mobile navbar space */
  }
}
