/* src/App.css */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px; /* default for desktop */
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 110px; /* taller navbar on mobile */
  }
}

html, body {
  overflow-x: hidden;
}
